<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Node chat</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
 
    <body>
        <h1>Node.js let you chat</h1>
        <form action='/' method=post id='msgform'>
            <input type="txt" name="msg" id="msg" paceholder="type here your message"/>
            <input type="submit" value="send" id="sendmsg" />
        </form>
        <div id="chatarea"></div>
        <script src="/js/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script>
            var socket = io.connect('http://localhost:8080');
            var pseudo = prompt('Chose a pseudo :');
            socket.emit('newbie', pseudo);
            document.title = pseudo + ' - ' + document.title;
            socket.on('connect', function() {
                $('#chatarea').prepend("<p><em >hi "+ pseudo+' you join the chat </em></p>');
            })
            socket.on('msg', function(data) {
                printmsg(data.pseudo, data.msg);
            })

            socket.on('newbie', function(pseudo) {
                $('#chatarea').prepend("<p><em >"+ pseudo+' join the chat </em></p>');
            })

            $('#msgform').submit(function() {
                let msg=$('#msg').val();
                socket.emit('msg', msg);
                printmsg(pseudo, msg);
                $('#msg').val('').focus();
                return false;
            });
            function printmsg(pseudo, msg) {
                $('#chatarea').prepend("<p><strong >"+ pseudo+'</strong> ' +msg+'</p>');
            }
        </script>
    </body>
</html>