<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Node chat</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
 
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                    <h1 class="display-4 text-center font-weight-bold">Node.js let you chat</h1>
            </div>
        </div>
        <div class="container">   
            <div class="row">
                <form action='/' method=post id='msgform' class="form-inline offset-lg-2 mb-3 col-lg-8 align-items-center">
                    <div class="input-group w-100" >
                        <input type="text" name="msg" id="msg" class="form-control" style="text-align:right" paceholder="type here your message"/>
                        <span class="input-group-append">
                            <input type="submit" value="send" class="btn btn-success" id="sendmsg" />
                        </span>
                    </div>
                </form>
            </div>
            <div class="row">
                <div id="chatarea" class="offset-lg-2 col-lg-8 bg-light shadow rounded"></div>
            </div>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script>
            var socket = io.connect('http://localhost:8080');
            var pseudo = prompt('Chose a pseudo :');
            socket.emit('newbie', pseudo);
            document.title = pseudo + ' - ' + document.title;
            socket.on('connect', function() {
                $('#chatarea').prepend("<p><em >hi "+ pseudo+' you join the chat </em></p>');
            })
            socket.on('msg', function(data) {
                printmsg(data.pseudo, data.msg);
            })

            socket.on('newbie', function(pseudo) {
                $('#chatarea').prepend("<p><em >"+ pseudo+' join the chat </em></p>');
            })
            socket.on('diconnected', function(data){
                $('#chatarea').prepend("<p><em >"+ data.pseudo+' left the chat </em></p>');
            });
            $('#msgform').submit(function() {
                let msg=$('#msg').val();
                socket.emit('msg', msg);
                printmsg(pseudo, msg);
                $('#msg').val('').focus();
                return false;
            });
            function printmsg(pseudo, msg) {
                $('#chatarea').prepend("<p><strong >"+ pseudo+'</strong> ' +msg+'</p>');
            }
        </script>
    </body>
</html>